@charset "ISO-8859-1";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  h4 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  input[type="text"],
  textarea,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  input[type="text"]:focus,
  textarea:focus,
  input[type="number"]:focus {
    outline: none;
    box-shadow: 0 0 5px #6aa6f8;
    background-color: #fff;
  }
  
  input[type="text"]::placeholder,
  textarea::placeholder,
  input[type="number"]::placeholder {
    color: #888;
  }
  
  input[type="text"]:hover,
  textarea:hover,
  input[type="number"]:hover {
    background-color: #e6e6e6;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #3e8e41;
  }